<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Photocrypt</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <form
      class="box"
      action="{{ url_for('index') }}"
      method="post"
      enctype="multipart/form-data"
    >
      {% if createdUserLogin %}
      <p style="color: greenyellow; overflow-wrap: break-word">
        Account created successfully!
      </p>
      {% endif %}

      <h1>Login</h1>
      <input type="text" name="username" placeholder="Username" />
      <input
        type="file"
        name="file"
        id="file"
        onchange="pressed()"
        style="display: none"
        accept=".jpg,.png"
      />
      <label for="file" id="fileLabel">Upload secure image</label>
      <input type="submit" name="" value="Login" />
      {% if invalid %}
      <p style="color: red">
        The username or secure image you entered is incorrect.
      </p>
      {% endif %}
      <a href="{{ url_for('register') }}" style="color: cadetblue;">Create an account</a>
      <!-- {% if encrypted_string %}
      <div>
        <h3 style="color: white;">Your Encryted String:</h3>
        <h4 style="color:greenyellow;overflow-wrap:break-word;">
         {{encrypted_string}}
        </h4>
      
      {% endif %} -->
    </form>
    <script type="text/javascript">
      window.pressed = function () {
        var a = document.getElementById("file");
        if (a.value == "") {
          fileLabel.innerHTML = "Choose file";
        } else {
          var theSplit = a.value.split("\\");
          fileLabel.innerHTML = theSplit[theSplit.length - 1];
        }
      };
    </script>
  </body>
</html>
